body {
				margin: 0;
			}
			.bg-dark {
				background-color: rgba(0, 0, 0, 0.7) !important;
			}
			#video {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				transform: rotateY(180deg);
				-webkit-transform:rotateY(180deg); /* Safari and Chrome */
				-moz-transform:rotateY(180deg); /* Firefox */
			}
			#layer {
				position: absolute;
				top: 58px;
				left: 0;
				width: 100%;
				/*background-color: rgba(0, 0, 0, 0.7);*/
				height: 100%;
			}
			#result {
				color: #bdd630;
			}
			svg {
				margin: calc(25vw - 25vw / 2) 0 0 calc(50% - 25vw / 2);
				width: 25vw;
			}
			svg .circ{
				opacity: 0;
				stroke-dasharray: 130;
				stroke-dashoffset: 130;
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				-ms-transition: all 1s;
				-o-transition: all 1s;
				transition: all 1s;
			}
			svg .tick{
				stroke-dasharray: 50;
				stroke-dashoffset: 50;
				-webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
				-moz-transition: stroke-dashoffset 1s 0.5s ease-out;
				-ms-transition: stroke-dashoffset 1s 0.5s ease-out;
				-o-transition: stroke-dashoffset 1s 0.5s ease-out;
				transition: stroke-dashoffset 1s 0.5s ease-out;
			}
			.drawn + svg .path{
				opacity: 1;
				stroke-dashoffset: 0;
			}